* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #eef2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 420px;
  background: #fff;
  border-radius: 18px;
  padding: 30px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 14px;
  border: none;
  background: #f3f4f6;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  background: #fff;
  border: 2px solid #4f46e5;
}

button {
  padding: 14px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #4338ca;
}

.list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8fafc;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.item:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
} */

.left h3 {
  font-size: 17px;
  color: #333;
}

.left small {
  color: #888;
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #4f46e5;
}

.actions {
  display: flex;
  gap: 8px;
}

.actions button {
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.edit {
  background: #dbeafe;
}

.edit:hover {
  background: #bfdbfe;
}

.delete {
  background: #fee2e2;
}

.delete:hover {
  background: #fecaca;
}

.total-box {
  margin-top: 20px;
  padding: 18px 20px;
  background: #4f46e5;
  color: #fff;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.total-box strong {
  font-size: 24px;
}