*{
    padding: 0px;
    margin: opx;
   box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.container{
    width: 420px;
    background: white;
    padding: 25px;
    border-radius: 20px;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
#addbtn{
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  color: white;
  background: #5a67d8;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

#addbtn:hover{
    background: #764ba2;
}

ul {
  margin-top: 20px;
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9ff;
  padding: 15px;
  margin-bottom: 12px;
  border-left: 6px solid #5a67d8;
  border-radius: 12px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

li:hover {
  transform: translateX(6px);
}

.task {
  cursor: pointer;
  color: #333;
  font-size: 16px;
}